<h1><%= @action.name %></h1>

<% if @action.strategies.any? %>
    <% @action.strategies.each do |s| %>
        <%= link_to "#{s.goal} - #{s.user.name}", user_strategy_path(s) %><p>
    <% end %>
        <%= link_to "DASHBOARD", user_path() %> |
        <%= link_to "NEW", new_user_strategy_path() %>

<% end %>

<%= link_to "DASHBOARD", user_path(params[:user_id]) %>
<%= link_to "NEW", new_user_strategy_path %>