<h1><%= @action.name %></h1>

<% if @action.strategies.any? %>
    <% @action.strategies.each do |strat| %>
        <%= strat.goal %> - <%= strat.user.name %><p>
    <% end %>
    <%= link_to "BACK TO DASHBOARD", user_path() %>
    <%= link_to "New Strategy", new_user_strategy_path() %>
<% end %>