<% if @errors %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited you from saving this profile:</h2>
    <ul>
      <% @errors.each.uniq do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
    Name: <%= f.text_field :name %>
    Password: <%= f.password_field :password %>
    Email: <%= f.email_field :email %>
    <%= f.submit "Create User" %>
<% end %>